#Ignoring node modules folder
node_modules
#Ignoring VSCode folder
.vscode
#Ignoring Dotenv file
.env
#Ignoring nyc_output folder
.nyc_output
#Ignoring coverage folder
coverage
#Ignoring .github folder
.github
