:root {
  --primaryColor: rgb(40, 106, 247);
  --mainWhite: #ffffff;
  --mainGrey: #ececec;
  --mainBlack: #000000;
  --color-primary: #263238;
  --color-secondary: darkgrey;
  --mainSpacing: 0.1rem;
  --mainTransition: all .5s ease;
  }
 
  a{
    text-decoration: none;
    color: var(--primaryColor);
  }

  .container{
   min-height: calc(100vh - 50px);
   background: url("../assets/images/banner.jpg") center/cover no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0.7;
 }
 .banner {
  width: 85%;
  height: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.911);
  display: inline-block;
  padding: 1rem;
  border-radius: 10px;
}
.banner-text {
  text-align: start;
  margin-top:60px;
  font-size: 1.5rem;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 5rem;
}
.banner-text span{
  color:var(--primaryColor);
  font-size: 1.5rem;
  text-align: center;

}
.how-it-works{
  background: rgb(252, 250, 250);
  width: 100%;
  height: 400px;
  text-align: center;
}

.step{			
  box-sizing: border-box;	
  float:left;
  padding: 10px 10px;
  margin-left: 20px;
  margin-top: 30px;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  text-align: center; 
  background: var(--mainWhite);
}
.step-description{
  background: var(--mainWhite);
  text-align: left;
  width: 100%;
}
.step-description h3{
  font-size: 19px;
}

 @media only screen and (min-width: 300px) and (max-width: 1200px){
  .container{
    width:100%;
    margin-bottom: 0px;
  }
  .banner-text {
    font-size: 19px;
    margin-top:0px;
    
  }
  .how-it-works{
    width: 100%;
    margin-right: 0px;    
}
.step{
    width: 99%;
    margin: auto;
    margin-bottom: 10px;  
}

}


