:root {
  --primaryColor: rgb(40, 106, 247);
    --mainWhite: #ffffff;
    --mainBlack: #000000;
    --mainGrey: #ececec;
    --color1:#666666;
    --color2:#999999;
    --mainSpacing: 0.1rem;
    --mainTransition: all .5s ease;

    --color-primary: #263238;
    --color-secondary: darkgrey;
    --main-text-color: #fff;
    --main-content-bg: #fafafa;
  }

#about-us{
    background-color: #fff;
    margin-top: 50px;
    color: #000;
    text-align: center;
     padding-bottom: 50px;
    padding-top: 10px;

}
#about-us .container{
    display: flex;
    align-items: center;
    max-width: 1140px;
    text-align: center;    
}
#about-us .container p{
    font-size: 1.25rem;
    font-weight: 300;
}



.how-it-works{
    float: left;
    width: 100%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
  
  }

  .step {
    width: 100%;
    background: var(--mainGrey);
    height: auto;					
    border: 1px solid #e1e1e1;
    float:left;
    padding: 2px 2px;
    margin-top: 0px;
    margin-left: 5px;
    width: 300px;
    text-align: center; 
  }
 

  .step-info  {
    width: 100%;
    border: 1px solid #e1e1e1;
    background: var(--mainWhite);
   
   
    
}
.step-info p,
.step h4 {
    margin-bottom: 5px;
}


  .step h4 {
    font-size: 100%;
    color: var(--mainBlack);
  }
 
  .step button {
    border: none;
    padding: 6px;
    color: var(--mainBlack);
    background: var(--mainGrey);
    letter-spacing: var(--mainSpacing);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
  }


  .container{
    min-height: calc(90vh - 40px);
   background: url("../assets/images/banner 2.jpg") center/cover no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0.7;
  
 }
  


